__pycache__/
*.pyc
.env
.DS_Store
.ipynb_checkpoints
wandb/
mlruns/
**/node_modules/
frontend/build/
frontend/.cache/
frontend/.env*
backend/venv/
backend/.env*
.venv/
backend/.venv/
backend/src/model/*.pth
**/*.log
